<div class="bottom-container" id="contact">
    <a class="footer-link" href="https://github.com/MorelT98"><i class="fab fa-github"></i> GitHub</a>
    <a class="footer-link" href="https://www.linkedin.com/in/moreltakougang/"><i class="fab fa-linkedin-in"></i> LinkedIn</a>
    <a class="footer-link" href="https://twitter.com/CodesRel"><i class="fab fa-twitter"></i> Twitter</a>
    <a class="footer-link" href="https://www.instagram.com/themorelity/"><i class="fab fa-instagram"></i> Instagram</a>
    <p>© 2020 Morel Takougang</p>
    <p class="copyrights">Icons were obtained on flaticon.cc</p>
</div>
</body>

</html>