<%- include('partials/header') %>

    <div class="top-container">
        <img class="top-cloud" src="images/cloud.png">
        <h1 class="title">I'm Morel.</h1>
        <h2 class="title-description">a Computer <span class="engineer">Engineer</span>.</h2>
        <img class="bottom-cloud" src="images/cloud.png">
        <img class="main-image" src="images/mountain.png">
    </div>

    <div class="middle-container">
        <div class="profile">
            <img class="img-profile" src="images/morel.png">
            <h2>Hello.</h2>
            <p>I'm Morel Takougang, a computer engineering and mathematics undergraduate at the University of Washington.</p>
        </div>

        <div class="dots">
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
        </div>

        <div class="items">
            <h2>My Skills.</h2>
            <div class="row">
                <img class="img" src="images/data.png">
                <div class="description">
                    <h3>Computer Programming</h3>
                    <p>I have experience in Web and iOS development. Click <a href="/missing">here</a> to see related personal projects.</p>
                </div>
            </div>
            <div class="row">
                <div class="description">
                    <h3>Computer Engineering</h3>
                    <p>Check out my <a href="/electronics">computer engineering projects</a>, on Arduino and other microcontrollers.</p>
                </div>
                <img class="img" src="images/cpu.png" alt="">
            </div>
        </div>

        <div class="items">
            <h2>My Hobbies.</h2>
            <div class="row">
                <img class="img" src="images/circuit.png">
                <div class="description">
                    <h3>Digital Electronics</h3>
                    <p>Building cool stuff with digital electronics is my hobby. Cool is relative. Click <a href="/electronics">here</a> to see a summary of my electronics projects.</p>
                </div>
            </div>
            <div class="row">
                <div class="description">
                    <h3>Mathematics</h3>
                    <p>I read and write <a href="/missing">notes on various mathematics topics</a>, from Number Theory to Real Analysis.</p>
                </div>
                <img class="img" src="images/formula.png" alt="">
            </div>
        </div>

        <div class="dots">
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
        </div>

        <div class="contact-me">
            <h2>Get In Touch</h2>
            <h3 class="contact-me-description">If you want to collaborate with me or hire me.</h3>
            <p>Do you have any tech project that needs tech savy and passionate people?</p>
            <p>Are you looking for a hardware or software engineer that is passionate, motivated and a team player? I'm your guy!</p>
            <a href="mailto:morelt98@gmail.com" class="btn btn-dark email-button"><i class="far fa-envelope"></i> Contact me</a>
        </div>
    </div>


    <%- include('partials/footer') %>