<%- include("partials/header") %>
    <div class="top-container">
        <h1>Oops!</h1>
        <h2>I'm still documenting my projects on this topic. This page will be updated as soon as possible.</h2>
        <h2>In the meantine, check out my <a href="/electronics">8 bit breadboard computer</a>!</h2>
    </div>

    <hr>
    <div class="bottom-container" id="bottom-container">
        <a class="footer-link" href="https://github.com/MorelT98"><i class="fab fa-github"></i> GitHub</a>
        <a class="footer-link" href="https://www.linkedin.com/in/moreltakougang/"><i class="fab fa-linkedin-in"></i> LinkedIn</a>
        <a class="footer-link" href="https://twitter.com/CodesRel"><i class="fab fa-twitter"></i> Twitter</a>
        <a class="footer-link" href="https://www.instagram.com/themorelity/"><i class="fab fa-instagram"></i> Instagram</a>
        <p>© 2020 Morel Takougang</p>
        <p class="copyrights">Icons were obtained on flaticon.cc</p>
    </div>

    <%- include("partials/footer") %>